Version.h
Update/Update_*.xml
*~
*.autosave
*.qm
*.user
test.xml
.CCodec.h.kate-swp
.kdev4/
.kdev_include_paths
build/
build_android/
build_unix_mingw/
build_windows_mingw/
build_unix/
build_windows_msvc/
*.ncb
.metadata/
*~
debug/
bin/
*.class
.deps/
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
reachmonitor
stamp-h1
.deps/
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
*.bak
*.bs
*.la
*.lo
*.ft
*.ft.1
*.made
*.o
*.obj
*.old
*.orig
*.out
*.pdb
*.rej
.libs/
Makefile
*.cdf
*.cache
*.obj
*.ilk
*.resources
*.tlb
*.tli
*.tlh
*.tmp
*.rsp
*.pgc
*.pgd
*.meta
*.tlog
*.manifest
*.res
*.pch
*.exp
*.idb
*.rep
*.xdc
*.pdb
*_manifest.rc
*.bsc
*.sbr
*.opensdf
*.sdf
*.suo
Debug/
release/
Release/
ipch/
IncludeLocalDatabase.txt
ThirdLibary/unix_mingw/
ThirdLibary/unix/
ThirdLibary/android/
ThirdLibary/windows_msvc/
ThirdLibary/windows_mingw/
ThirdLibary/src/
rabbitim.kdev4
*.pro.user.*
