#ifndef __VERSION_H_2014_12_11__
#define __VERSION_H_2014_12_11__

#define MAJOR_VERSION_NUMBER %MAJOR_VERSION_NUMBER%
#define MINOR_VERSION_NUMBER %MINOR_VERSION_NUMBER%
#define REVISION_VERSION_NUMBER %REVISION_VERSION_NUMBER%
#define BUILD_VERSION "%BUILD_VERSION%"
#define RABBITIM_SYSTEM "%RABBITIM_SYSTEM%"
#define RABBITIM_PLATFORM "%RABBITIM_PLATFORM%"
#define RABBITIM_ARCHITECTURE "%RABBITIM_ARCHITECTURE%"

#endif //__VERSION_H_2014_12_11__
