Source: rabbitim
Section: main
Priority: optional
Maintainer: Kang Lin <kl222@126.com>
Build-Depends: debhelper (>= 6)
Standards-Version:"0.1.0"
Homepage: https://github.com/KangLin/rabbitim
Vcs-Git: https://github.com/KangLin/rabbitim
Vcs-Browser: https://github.com/KangLin/rabbitim

Package: rabbitim
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends:  ${shlibs:Depends}, ${misc:Depends}
Description: Rabbit instant messaging
