#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_configure:
	mkdir -p `pwd`/build_debian; \
    cd `pwd`/build_debian; \
    cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=`pwd`/../debian/rabbitim -DQt5_DIR=/home/l/Qt5.3.1/5.3/gcc_64/lib/cmake/Qt5

override_dh_auto_build:
	cd `pwd`/build_debian; make -j 2

override_dh_auto_install:
	cd `pwd`/build_debian; make install
